include CHANGELOG.rst
include LICENSE
include pyproject.toml
include src/quart_trio/py.typed
include README.rst
include setup.cfg
recursive-include src/quart_trio *.py
recursive-include tests *.py
recursive-exclude docs *
exclude .gitlab-ci.yml
